!*.c
t1/.vscode/settings.json
t1/floats_256_2.0f.txt
t1/.vscode/tasks.json
t1/main.exe
t1/matrix_lib_test.exe
t1/floats_256_5.0f.txt
t1/float_1.0.dat
t1/float_2.0.dat
t1/main
*.dat
*.txt
t2/main
*.exe
exercicio1_array_sub/array_sub.c
exercicio1_array_sub/timer.h
inf1029_avx_exemplos/detect_cpu_features.c
inf1029_avx_exemplos/fma_test.c
inf1029_avx_exemplos/hello_avx.c
inf1029_avx_exemplos/mask_load.c
inf1029_avx_exemplos/timer.c
inf1029_avx_exemplos/timer.h
testeAVX
testeAVX.c
t2/matrix_lib_test
*.json
t3/main
t3/timer.c
t3/timer.h
t3/timer_test.c
t3/matrix_lib_test
